@import "tailwindcss";

@theme {
    --color-Dark-Blue: #064973;
    --color-Pale-Pink: #F6E3DF;
}

/* menu y footer */
nav, footer {
    width: 100vw;
}

/* botones flotantes*/
.social-menu {
    margin-right: 15px;
    position: fixed;
    bottom: 5vh;
    right: 0;
    z-index: 1;
    display: block;
    line-height: 0;
    position: relative;
    width: 50px;
    height: 50px;
 }

 .social-menu img:hover {
    fill: #128C7E;
 }
 
 .social-menu .btn-whatsapp a  {
    font-size: 31px;
    padding-top: 9px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 8px;
    box-shadow: 1px 2px 8px -1px rgba(0,0,0,0.60);
 }