@font-face {
    font-family: Roboto;
    src: url(../src/assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
    font-family: Gelica;
    src: url(../src/assets/fonts/Gelica/);
}

@import "tailwindcss";

@theme {

    --font-primary: Roboto, "sans-serif";
    --font-secondary: Gelica, "serif";
    --color-primary: #064973;
    --color-text: #F6E3DF;
    --color-dark-text: #011221;
    --color-secondary: #F2D1CE;
    
}